.controller.custom{
	background: url(Base.png);
	height: 84px;
	width: 128px;
}

.custom .triggers{
	width: 8px;
	height: 60px;
	position: relative;
	top: 4px;
	left: 36px;
}

.custom .trigger{
	width: 8px;
	height: 60px;
	background: url(accelerator.png);
	opacity: 0;
}
