.controller.custom{
	background: url(base.png);
	height: 128px;
	width: 84px;
}

.custom .triggers{
	width: 8px;
	height: 60px;
	position: absolute;
	top: 4px;
	left: 20px;
}

.custom .trigger{
	width: 8px;
	height: 60px;
	background: url(brake.png);
	opacity: 0;
}

.custom .trigger.left{
	float: left;
}
