.controller.custom{
	background: url(Base.png);
	height: 84px;
	width: 112px;
}

.custom .triggers{
	width: 8px;
	height: 60px;
	position: absolute;
	top: 4px;
	left: 4px;
}

.custom .trigger{
	width: 8px;
	height: 60px;
	background: url(clutch.png);
	opacity: 0;
}

.custom .trigger.left{
	float: left;
}
