.controller.custom{
	background: url("Base C.png");
	height: 330px;
	width: 94px;
}

.custom .triggers{
	width: 64px;
	height: 301px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.custom .trigger{
	width: 64px;
	height: 301px;
	background: url("Fill C.png");
	opacity: 0;
}

.custom .trigger.left{
	float: left;
}
