.controller.custom{
	background: url(Base.png);
	height: 84px;
	width: 112px;
}

.custom .bumpers.pressed{
	width: 8px;
	height: 24px;
	position: absolute;
	Left: 68px;
	Top: 4px;
	background: url(greenbutton.png)
}
	
.custom .bumper.left{
  
}
