.controller.custom{
	background: url("Base S.png");
	height: 252px;
	width: 252px;
}

.custom .back.pressed{
	width: 64px;
	height: 64px;
	position: absolute;
	Left: 15px;
	Top: 15px;
	background: url("Fill S1.png")
}
	
.custom .start.pressed{
  	width: 64px;
	height: 64px;
	position: absolute;
	Left: 15px;
	Top: 94px;
	background: url("Fill S2.png")
}

.custom .x.pressed{
  	width: 64px;
	height: 64px;
	position: absolute;
	Left: 94px;
	Top: 15px;
	background: url("Fill S3.png")
}

.custom .y.pressed{
  	width: 64px;
	height: 64px;
	position: absolute;
	Left: 94px;
	Top: 94px;
	background: url("Fill S4.png")
}

.custom .a.pressed{
  	width: 64px;
	height: 64px;
	position: absolute;
	Left: 173px;
	Top: 15px;
	background: url("Fill S5.png")
}

.custom .b.pressed{
  	width: 64px;
	height: 64px;
	position: absolute;
	Left: 173px;
	Top: 94px;
	background: url("Fill S6.png")
}

.custom .stick.pressed.right{
  	width: 64px;
	height: 64px;
	position: absolute;
	Left: 173px;
	Top: 173px;
	background: url("Fill SR.png")
}
