.controller.custom{
	background: url("Base TB.png");
	height: 331px;
	width: 219px;
}

.custom .triggers{
	width: 173px;
	height: 301px;
	position: absolute;
	top: 15px;
	left: 32px;
}

.custom .trigger{
	width: 64px;
	height: 301px;
	
	opacity: 0;
}

.custom .trigger.left{
background: url("Fill B.png");
	float: left;
}

.custom .trigger.right{
	background: url("Fill T.png");
	float: right;
}
