.controller.custom{
	background: url(Base.png);
	height: 84px;
	width: 112px;
}

.custom .triggers{
	width: 60px;
	height: 8px;
	position:absolute;
	top: 50px;
	left: 26px;
}

.custom .trigger{
	width: 8px;
	height: 52px;
	background: url(wheel.png);
	opacity: 0;
}

.custom .trigger.left{
	float: left;
	transform: rotate(270deg);
}

.custom .trigger.right{
	float: right;
	transform: rotate(90deg);
}

.custom .arrows{
	position:absolute;
		width: 24px;
}

.custom .back.pressed{
	width: 8px;
	height: 8px;
	position: absolute;
	top: 56px;
	left: 68px;
	background: url(redbutton.png);
	float: left;
}

.custom .start.pressed{
	width: 8px;
	height: 8px;
	position: absolute;
	top: 56px;
	left: 84px;
	background: url(greenbutton.png);
	float: right;
}

