.controller.custom{
	background: url("Base W.png");
	height: 203px;
	width: 688px;
}

.custom .triggers{
	width: 395px;
	height: 64px;
	top: -7.68px;
	left: 146px;
	position:absolute;

}

.custom .trigger{
	width: 64.7px;
	height: 329px;
	background: url("Fill W.png");
	opacity: 0;

}

.custom .trigger.left{
	float: left;
	transform:rotate(270deg);
}

.custom .trigger.right{
	float: right;
	transform: rotate(90deg);
}

.custom .back.pressed{
	width: 64px;
	height: 64px;
	position: absolute;
	top: 15px;
	left: 451px;
	background: url("Fill SD.png");
	float: left;
}

.custom .start.pressed{
	width: 64px;
	height: 64px;
	position: absolute;
	top: 15px;
	left: 530px;
	background: url("Fill SU.png");
	float: right;
}

